@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: '微软雅黑'; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

img {
  border: 0;
  display: block; }

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

/*
@media all and (max-width:320px){
    html{font-size:12px;}
}
@media all and (min-width:321px) and (max-width:375px){
    html{font-size:14px;}
}
@media all and (min-width:376px){
    html{font-size:16px;}
}
*/
/*

html{
    font-size: 31.25vw;
}
*/
#bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: 0; }
  #bottom ul {
    width: 280px;
    height: 18px;
    margin: 0 auto; }
  #bottom li {
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #999999;
    float: left; }
  #bottom .lastLi {
    border-right: none; }
  #bottom a {
    padding: 0 12px;
    color: #999999;
    font-size: 14px; }
  #bottom img {
    display: inline-block; }
  #bottom p {
    font-size: 14px;
    margin-top: 10px;
    color: #999999;
    text-align: center; }

body {
  overflow-x: hidden; }

.wrap-nav, .wrap-img, .wrap-search, .wrap-banner, .wrap-recommend, .wrap-shangouTag, .allGoodDiv {
  width: 1533px;
  margin: 0 auto; }

.all {
  width: 3000px;
  margin-top: -106px;
  position: absolute;
  left: 33%;
  transform: scale(0.82) translateX(-50%); }
  .all .wrap-img .topImg {
    width: 100%;
    height: 150px;
    position: relative; }
    .all .wrap-img .topImg img {
      position: absolute;
      left: 49%;
      transform: translate(-50%, 0); }
  .all .nav {
    height: 50px;
    background: #333333; }
    .all .nav .nav_left {
      float: left; }
    .all .nav li {
      margin-right: 8px;
      float: left;
      height: 50px;
      line-height: 48px; }
      .all .nav li span {
        height: 10px;
        color: #555555; }
      .all .nav li a {
        float: left;
        font-size: 14px;
        line-height: 50px;
        color: #999999; }
        .all .nav li a:hover {
          color: #ffffff; }
    .all .nav .nav_right {
      float: right; }
  .all #cart {
    display: block;
    line-height: 50px;
    font-size: 14px;
    height: 50px;
    width: 80px;
    background: #424242 url("../img/index/gouwuche.png") no-repeat 15px center;
    background-size: 25px 27px;
    padding-left: 50px;
    float: right;
    color: #999999;
    margin-left: 30px; }
    .all #cart:hover {
      background: #ffffff url("../img/index/gouwuche-ho.png") no-repeat 15px center;
      background-size: 25px 27px;
      color: #f15b00; }
  .all .wrap-search .search-logo {
    height: 98px;
    width: 100px;
    padding-top: 27px;
    float: left; }
    .all .wrap-search .search-logo a {
      width: 69px;
      height: 67px;
      display: block;
      overflow: hidden;
      text-indent: -1000px; }
  .all .wrap-search .tehui {
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    float: left;
    width: 194px;
    padding-top: 20px; }
  .all .wrap-search .search-nav {
    float: left; }
    .all .wrap-search .search-nav li {
      height: 98px;
      line-height: 98px;
      float: left; }
      .all .wrap-search .search-nav li a {
        color: #333333;
        padding: 13px;
        font-size: 20px;
        float: left; }
        .all .wrap-search .search-nav li a:hover {
          color: #f15b00; }
  .all .wrap-search .search-right {
    float: right;
    padding-top: 30px; }
    .all .wrap-search .search-right input {
      width: 284px;
      padding-left: 20px;
      height: 60px;
      border: 1px solid #999999;
      border-right: none;
      outline: none;
      font-size: 25px;
      float: left; }
    .all .wrap-search .search-right a {
      float: left;
      display: block;
      height: 60px;
      width: 60px;
      color: #333333;
      border: 1px solid #999999;
      line-height: 60px;
      text-align: center;
      transition: 0.5s; }
      .all .wrap-search .search-right a:hover {
        background: #f15b00;
        color: #ffffff; }
      .all .wrap-search .search-right a i {
        font-size: 30px; }
  .all .wrap-banner {
    height: 576px;
    position: relative; }
    .all .wrap-banner .banner-left {
      padding: 30px 0;
      width: 283px;
      position: absolute;
      height: 516px;
      z-index: 100;
      background: #333333;
      opacity: 0.9; }
      .all .wrap-banner .banner-left li {
        height: 53px;
        width: 283px; }
        .all .wrap-banner .banner-left li a {
          display: block;
          width: 209px;
          height: 53px;
          line-height: 53px;
          color: #ffffff;
          padding: 0 37px;
          font-size: 18px;
          overflow: hidden; }
          .all .wrap-banner .banner-left li a:hover {
            background: #f15b00; }
          .all .wrap-banner .banner-left li a span {
            float: right; }
    .all .wrap-banner .banner-right {
      width: 1533px;
      height: 100%;
      background: #f15b00;
      position: absolute;
      z-index: 5; }
    .all .wrap-banner .banner-right-dot {
      position: absolute;
      right: 30px;
      bottom: 33px;
      width: 126px; }
      .all .wrap-banner .banner-right-dot .banner-dot {
        width: 6px;
        height: 6px;
        border: 3px solid;
        border-radius: 6px;
        float: left;
        margin-right: 13px; }
      .all .wrap-banner .banner-right-dot .banner-dot1 {
        border-color: #797775;
        background: #c9c6c4; }
      .all .wrap-banner .banner-right-dot .banner-dot2 {
        border-color: #9c9894;
        background: #63605c; }
  .all .wrap-recommend {
    height: 267px;
    padding-top: 17px; }
    .all .wrap-recommend .recommend-left {
      width: 271px;
      height: 201px;
      padding: 12px 0 0 12px;
      background: #5f5750;
      float: left; }
      .all .wrap-recommend .recommend-left li {
        margin-right: 8px;
        margin-bottom: 8px;
        float: left; }
      .all .wrap-recommend .recommend-left .recommend-tag {
        width: 76px;
        height: 77px;
        text-align: center;
        padding-top: 10px; }
        .all .wrap-recommend .recommend-left .recommend-tag a {
          color: #cfcdcb; }
          .all .wrap-recommend .recommend-left .recommend-tag a:hover {
            color: #ffffff; }
          .all .wrap-recommend .recommend-left .recommend-tag a i {
            font-size: 40px; }
          .all .wrap-recommend .recommend-left .recommend-tag a p {
            margin-top: 5px; }
      .all .wrap-recommend .recommend-left .colLine {
        width: 1px;
        height: 87px;
        background: #665e57; }
      .all .wrap-recommend .recommend-left .rowLine {
        height: 1px;
        width: 82px;
        background: #665e57; }
    .all .wrap-recommend .recommendImg {
      display: block;
      float: left;
      width: 395px;
      height: 213px;
      margin-left: 21px;
      overflow: hidden;
      transition: 0.5s; }
      .all .wrap-recommend .recommendImg:hover {
        box-shadow: 0 5px 10px 10px #999999; }
      .all .wrap-recommend .recommendImg img {
        width: 395px;
        height: 213px; }
  .all .wrap-shangouTag {
    position: relative;
    height: 732px; }
    .all .wrap-shangouTag h2 {
      font-size: 28px;
      line-height: 28px;
      height: 28px;
      float: left;
      color: #666666; }
    .all .wrap-shangouTag .sgTop {
      margin-bottom: 23px; }
    .all .wrap-shangouTag .sgBtn {
      float: right; }
      .all .wrap-shangouTag .sgBtn input {
        display: block;
        float: left;
        background: #ffffff;
        width: 43px;
        height: 30px;
        border: 1px solid #999999;
        outline: none; }
    .all .wrap-shangouTag .daojishi {
      width: 293px;
      height: 426px;
      float: left;
      margin-right: 17px;
      background: #f1eded;
      border-top: 1px solid #e53934; }
      .all .wrap-shangouTag .daojishi h3 {
        margin: 73px auto 38px;
        text-align: center;
        color: #e53934;
        font-size: 26px; }
      .all .wrap-shangouTag .daojishi i {
        display: block;
        font-size: 60px;
        color: #e53934;
        text-align: center;
        margin-bottom: 43px; }
      .all .wrap-shangouTag .daojishi b {
        display: block;
        color: #999999;
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px; }
      .all .wrap-shangouTag .daojishi p {
        text-align: center;
        height: 58px;
        line-height: 58px;
        color: #605751;
        font-size: 24px; }
        .all .wrap-shangouTag .daojishi p span {
          color: #ffffff;
          display: inline-block;
          width: 58px;
          height: 58px;
          background: #605751; }
    .all .wrap-shangouTag .sgGoodDiv {
      width: 1223px;
      height: 426px;
      float: left;
      overflow: hidden;
      position: relative; }
      .all .wrap-shangouTag .sgGoodDiv .sgGoodlong {
        width: 3000px;
        height: 429px;
        position: absolute; }
      .all .wrap-shangouTag .sgGoodDiv .sgGood {
        width: 293px;
        height: 426px;
        float: left;
        margin-right: 17px;
        background: #fafafa; }
        .all .wrap-shangouTag .sgGoodDiv .sgGood .goodImg {
          width: 292px;
          height: 287px;
          background: url("../img/index/mobanimg.jpg") no-repeat center center;
          background-size: 70% 70%; }
        .all .wrap-shangouTag .sgGoodDiv .sgGood h3 {
          text-align: center;
          font-size: 20px;
          line-height: 20px;
          height: 20px;
          margin-bottom: 10px;
          color: #333333; }
        .all .wrap-shangouTag .sgGoodDiv .sgGood b {
          display: block;
          text-align: center;
          font-size: 16px;
          color: #999999;
          margin-bottom: 25px; }
        .all .wrap-shangouTag .sgGoodDiv .sgGood p {
          text-align: center;
          color: #f15b00;
          font-size: 18px; }
          .all .wrap-shangouTag .sgGoodDiv .sgGood p span {
            color: #999999;
            text-decoration: line-through; }
  .all .advImg {
    width: 1533px;
    height: 150px;
    position: absolute;
    bottom: 53px; }
  .all .allGood {
    width: 100%;
    _height: 6267px;
    min-height: 6267px;
    background: #f5f5f5; }
    .all .allGood .allGoodDiv {
      height: 1020px;
      padding-top: 50px; }
      .all .allGood .allGoodDiv .goodDivTop {
        margin-bottom: 23px;
        width: 100%; }
        .all .allGood .allGoodDiv .goodDivTop h2 {
          font-size: 28px;
          line-height: 28px;
          color: #666666;
          float: left; }
        .all .allGood .allGoodDiv .goodDivTop a {
          float: right;
          font-size: 20px;
          color: #b0b0b0; }
          .all .allGood .allGoodDiv .goodDivTop a i {
            font-size: 25px;
            color: #b0b0b0; }
        .all .allGood .allGoodDiv .goodDivTop ul {
          float: right;
          height: 29px; }
          .all .allGood .allGoodDiv .goodDivTop ul li {
            height: 29px;
            line-height: 29px;
            float: left; }
            .all .allGood .allGoodDiv .goodDivTop ul li a {
              height: 29px;
              display: block;
              padding: 0 20px;
              color: #333333; }
      .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleLeftImg {
        float: left; }
        .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleLeftImg img {
          height: 770px;
          width: 293px; }
      .all .allGood .allGoodDiv .goodDivMiddle .goAnimation {
        position: relative;
        transition: 0.5s;
        top: 0; }
        .all .allGood .allGoodDiv .goodDivMiddle .goAnimation:hover {
          box-shadow: 0 2px 4px 4px #d6d6d6;
          top: -10px; }
      .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight {
        width: 1240px;
        height: 770px;
        float: left; }
        .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight li {
          margin: 0 0 17px 16px;
          height: 376px;
          float: left; }
          .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight li .goodDiv-one {
            display: block;
            float: left;
            width: 294px;
            height: 376px;
            background: #ffffff; }
            .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight li .goodDiv-one .goodOneImg {
              width: 294px;
              height: 252px;
              background: url("../img/index/666666.png") no-repeat center center;
              background-size: 70% 70%; }
        .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last {
          width: 294px;
          height: 376px;
          float: left; }
          .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last b {
            height: 136px;
            width: 234px;
            display: block;
            margin-bottom: 24px;
            background: #ffffff;
            padding: 40px 30px 0 30px; }
            .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last b img {
              height: 100px;
              width: 79px;
              float: right;
              display: block; }
            .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last b p {
              display: block;
              width: 103px;
              float: left;
              padding-top: 15px; }
              .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last b p span {
                display: block;
                font-size: 18px;
                color: #333333;
                width: 103px;
                line-height: 18px;
                margin-bottom: 18px; }
              .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last b p strong {
                font-size: 14px;
                color: #f15b00; }
          .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last em {
            height: 126px;
            width: 234px;
            display: block;
            background: #ffffff;
            padding: 50px 30px 0 30px; }
            .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last em img {
              height: 70px;
              width: 70px;
              float: right;
              display: block; }
            .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last em p {
              display: block;
              width: 103px;
              float: left;
              padding-top: 15px; }
              .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last em p span {
                display: block;
                font-size: 20px;
                color: #333333;
                width: 103px;
                line-height: 18px;
                margin-bottom: 3px; }
              .all .allGood .allGoodDiv .goodDivMiddle .goodMiddleRight .goodDiv-last em p strong {
                font-size: 14px;
                color: #999999; }
      .all .allGood .allGoodDiv .goodDivBottom {
        margin-top: 53px; }
        .all .allGood .allGoodDiv .goodDivBottom img {
          width: 1533px;
          height: 150px; }
    .all .allGood .good-phone .goodDivMiddle .goodDiv-one h3 {
      text-align: center;
      font-size: 20px;
      line-height: 20px;
      height: 20px;
      margin-bottom: 10px;
      color: #333333; }
    .all .allGood .good-phone .goodDivMiddle .goodDiv-one b {
      display: block;
      text-align: center;
      font-size: 16px;
      color: #999999;
      margin-bottom: 25px; }
    .all .allGood .good-phone .goodDivMiddle .goodDiv-one p {
      text-align: center;
      color: #f15b00;
      font-size: 18px; }
      .all .allGood .good-phone .goodDivMiddle .goodDiv-one p span {
        color: #999999;
        text-decoration: line-through; }
    .all .allGood .good-furniture .goodDivMiddle .goodDiv-one h3 {
      text-align: center;
      font-size: 20px;
      line-height: 20px;
      height: 20px;
      margin-bottom: 10px;
      color: #333333; }
    .all .allGood .good-furniture .goodDivMiddle .goodDiv-one b {
      display: block;
      text-align: center;
      font-size: 16px;
      color: #999999;
      margin-bottom: 25px; }
    .all .allGood .good-furniture .goodDivMiddle .goodDiv-one p {
      text-align: center;
      color: #f15b00;
      font-size: 18px; }
      .all .allGood .good-furniture .goodDivMiddle .goodDiv-one p span {
        color: #999999;
        text-decoration: line-through; }

#sgBtn-left {
  border-right: none; }

/*# sourceMappingURL=index.css.map */
