@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: '微软雅黑'; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

img {
  border: 0;
  display: block; }

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

/*
@media all and (max-width:320px){
    html{font-size:12px;}
}
@media all and (min-width:321px) and (max-width:375px){
    html{font-size:14px;}
}
@media all and (min-width:376px){
    html{font-size:16px;}
}
*/
/*

html{
    font-size: 31.25vw;
}
*/
#bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: 0; }
  #bottom ul {
    width: 280px;
    height: 18px;
    margin: 0 auto; }
  #bottom li {
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #999999;
    float: left; }
  #bottom .lastLi {
    border-right: none; }
  #bottom a {
    padding: 0 12px;
    color: #999999;
    font-size: 14px; }
  #bottom img {
    display: inline-block; }
  #bottom p {
    font-size: 14px;
    margin-top: 10px;
    color: #999999;
    text-align: center; }

.lastLi-common {
  margin: 0 !important; }

.lastLi-border {
  border-right: none !important; }

.bottom {
  width: 1533px;
  height: 530px;
  margin: 0 auto; }
  .bottom .bottom-top {
    width: 1533px;
    height: 67px;
    padding-top: 33px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 49px; }
    .bottom .bottom-top li {
      float: left;
      text-align: center;
      line-height: 33px;
      height: 33px;
      width: 305px;
      border-right: 1px solid #d7d7d7; }
      .bottom .bottom-top li a {
        color: #666;
        font-size: 20px;
        transition: 0.2s; }
        .bottom .bottom-top li a i {
          font-size: 35px; }
        .bottom .bottom-top li a:hover {
          color: #ff6700; }
  .bottom ul {
    width: 200px;
    height: 180px;
    float: left; }
    .bottom ul p {
      font-size: 18px;
      line-height: 18px;
      color: #333333;
      margin-bottom: 40px; }
    .bottom ul li {
      font-size: 14px;
      color: #999;
      margin-bottom: 20px; }
  .bottom .kefu {
    height: 140px;
    width: 315px;
    float: right;
    border-left: 1px solid #999999; }
    .bottom .kefu h2 {
      color: #ff6700;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 6px;
      text-align: center; }
    .bottom .kefu p {
      text-align: center;
      line-height: 22px;
      font-size: 16px;
      color: #999999; }
    .bottom .kefu a {
      width: 148px;
      height: 36px;
      display: block;
      margin: 22px auto 0;
      text-align: center;
      line-height: 36px;
      border: 1px solid #ff6700;
      color: #ff6700;
      transition: 0.2s; }
      .bottom .kefu a:hover {
        background: #ff6700;
        color: #ffffff; }
  .bottom .bottom-logo {
    margin-bottom: 45px; }
    .bottom .bottom-logo img {
      height: 70px;
      width: 70px;
      float: left;
      margin-right: 10px; }
    .bottom .bottom-logo div {
      width: 940px;
      height: 70px; }
      .bottom .bottom-logo div b {
        display: block;
        font-size: 14px;
        color: #999999; }
        .bottom .bottom-logo div b a {
          font-size: 14px;
          color: #999999; }
          .bottom .bottom-logo div b a:hover {
            color: #ff6700; }
      .bottom .bottom-logo div p {
        color: #999999;
        font-size: 14px; }
  .bottom .biaoyu {
    text-align: center;
    font-family: "楷体";
    font-size: 28px;
    color: #d7d7d7; }

.nav {
  height: 50px;
  background: #333333; }
  .nav .nav_left {
    float: left; }
  .nav li {
    margin-right: 8px;
    float: left;
    height: 50px;
    line-height: 48px; }
    .nav li span {
      height: 10px;
      color: #555555; }
    .nav li a {
      float: left;
      font-size: 14px;
      line-height: 50px;
      color: #999999; }
      .nav li a:hover {
        color: #ffffff; }
  .nav .nav_right {
    float: right; }
  .nav .cartMenu {
    float: right;
    position: relative; }
    .nav .cartMenu .cartTwoLevelMenu {
      position: absolute;
      width: 400px;
      _height: 0px;
      min-height: 0px;
      background: #ffffff;
      left: -240px;
      top: 50px;
      z-index: 2000;
      display: none; }
      .nav .cartMenu .cartTwoLevelMenu .empty {
        width: 400px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        color: #999999;
        display: none; }
      .nav .cartMenu .cartTwoLevelMenu .goodsList {
        width: 400px;
        _height: 120px;
        min-height: 120px; }
        .nav .cartMenu .cartTwoLevelMenu .goodsList .goods {
          width: 362px;
          height: 72px;
          padding: 38px 0 0 38px; }
          .nav .cartMenu .cartTwoLevelMenu .goodsList .goods img {
            width: 51px;
            height: 62px;
            float: left;
            display: block;
            margin-right: 25px; }
          .nav .cartMenu .cartTwoLevelMenu .goodsList .goods p {
            display: block;
            float: left;
            width: 115px;
            height: 55px;
            line-height: 26px;
            font-size: 16px;
            color: #666666;
            margin-right: 45px;
            overflow: hidden; }
          .nav .cartMenu .cartTwoLevelMenu .goodsList .goods b {
            display: block;
            color: #666666;
            font-size: 16px;
            float: left; }
      .nav .cartMenu .cartTwoLevelMenu .foot {
        width: 350px;
        height: 74px;
        padding: 25px 25px 0;
        background: #fafafa; }
        .nav .cartMenu .cartTwoLevelMenu .foot .foot-left {
          float: left; }
          .nav .cartMenu .cartTwoLevelMenu .foot .foot-left p {
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: #999;
            margin-bottom: 6px; }
          .nav .cartMenu .cartTwoLevelMenu .foot .foot-left h4 {
            font-size: 14px;
            color: #ff6700; }
            .nav .cartMenu .cartTwoLevelMenu .foot .foot-left h4 b {
              font-size: 24px; }
        .nav .cartMenu .cartTwoLevelMenu .foot .foot-right {
          width: 165px;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          color: #fff;
          text-align: center;
          display: block;
          background: #ff6700;
          float: right; }
  .nav .cart {
    display: block;
    line-height: 50px;
    font-size: 14px;
    height: 50px;
    width: 80px;
    background: #424242 url("../img/index/gouwuche.png") no-repeat 15px center;
    background-size: 25px 27px;
    padding-left: 50px;
    float: right;
    color: #999999;
    margin-left: 30px; }

.wrap-search .search-logo {
  height: 98px;
  width: 100px;
  padding-top: 27px;
  float: left;
  position: relative; }
  .wrap-search .search-logo a {
    width: 69px;
    height: 67px;
    display: block;
    overflow: hidden;
    text-indent: -1000px; }
.wrap-search .tehui {
  display: block;
  text-indent: -1000px;
  overflow: hidden;
  float: left;
  width: 194px;
  padding-top: 20px; }
.wrap-search .allGoodList {
  float: left;
  overflow: visible; }
.wrap-search .allGoodListBtn {
  text-indent: 0;
  width: 140px;
  height: 130px;
  float: left;
  color: #333333;
  font-size: 20px;
  line-height: 123px;
  overflow: visible; }
.wrap-search .search-nav {
  float: left; }
.wrap-search li {
  height: 98px;
  line-height: 98px;
  float: left; }
  .wrap-search li a {
    color: #333333;
    padding: 13px;
    font-size: 20px;
    float: left; }
    .wrap-search li a:hover {
      color: #f15b00; }
.wrap-search .search-right {
  float: right;
  padding-top: 30px; }
  .wrap-search .search-right input {
    width: 284px;
    padding-left: 20px;
    height: 60px;
    border: 1px solid #999999;
    border-right: none;
    outline: none;
    font-size: 25px;
    float: left; }
  .wrap-search .search-right a {
    float: left;
    display: block;
    height: 60px;
    width: 60px;
    color: #333333;
    border: 1px solid #999999;
    line-height: 60px;
    text-align: center;
    transition: 0.5s; }
    .wrap-search .search-right a:hover {
      background: #f15b00;
      color: #ffffff; }
    .wrap-search .search-right a i {
      font-size: 30px; }

.allGoodMenu {
  padding: 30px 0;
  width: 283px;
  position: absolute;
  height: 516px;
  z-index: 400;
  background: #ffffff;
  border: 1px solid #ff6700;
  left: 0;
  display: none;
  top: 131px; }
  .allGoodMenu li {
    height: 53px;
    width: 283px; }
    .allGoodMenu li a {
      display: block;
      width: 209px;
      height: 53px;
      line-height: 53px;
      color: #333333;
      padding: 0 37px;
      font-size: 18px;
      overflow: hidden; }
      .allGoodMenu li a:hover {
        background: #f15b00;
        color: #ffffff; }
      .allGoodMenu li a span {
        float: right; }

.bannerTwoLevelMenu {
  width: 0px;
  height: 575px;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 283px; }
  .bannerTwoLevelMenu div {
    width: 1300px;
    margin-left: 2px; }
    .bannerTwoLevelMenu div ul {
      width: 313px;
      height: 575px;
      float: left;
      margin-left: -1px;
      background: #ffffff;
      box-shadow: #d7d7d7 9px 5px 16px; }
      .bannerTwoLevelMenu div ul li {
        line-height: 98px;
        padding-left: 30px;
        width: 283px !important;
        height: 98px !important;
        color: #333333;
        transition: 0.3s; }
        .bannerTwoLevelMenu div ul li img {
          display: inline;
          width: 29px;
          height: 30px;
          padding-top: 40px;
          margin-right: 5px; }
        .bannerTwoLevelMenu div ul li:hover {
          color: #ff6700; }

.boxShadow {
  box-shadow: #d7d7d7 3px 6px 16px; }

.goAnimation {
  position: relative;
  transition: 0.5s;
  top: 0; }
  .goAnimation:hover {
    box-shadow: #d7d7d7 3px 6px 16px;
    top: -10px; }

.wrap {
  transform: scale(0.8);
  margin-top: -50px; }

.top-wrap {
  width: 1414px;
  margin: 0 auto;
  height: 102px;
  line-height: 132px; }
  .top-wrap a {
    width: 250px;
    height: 62px;
    display: block; }

.backImg {
  width: 1414px;
  height: 734px;
  position: relative; }
  .backImg .banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .backImg .login-page {
    width: 439px;
    height: 616px;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 40px;
    padding: 38px 37px 0; }
    .backImg .login-page .login-form-top {
      width: 100%;
      height: 37px;
      margin-bottom: 25px; }
      .backImg .login-page .login-form-top .login-form-top-tag {
        width: 216px;
        height: 37px;
        line-height: 37px;
        float: left;
        text-align: center; }
        .backImg .login-page .login-form-top .login-form-top-tag a {
          font-size: 30px;
          color: #818281;
          font-weight: 500; }
      .backImg .login-page .login-form-top .login-form-top-middle {
        height: 35px;
        width: 1px;
        border: 1px solid #999999;
        float: left; }
    .backImg .login-page .login-form {
      width: 439px;
      height: 549px;
      position: absolute;
      background: #ffffff; }
    .backImg .login-page .login-form1 .tishi {
      height: 23px;
      line-height: 23px;
      width: 100%;
      background: url("../img/reg/tanhao.png") no-repeat left center;
      padding-left: 23px;
      font-size: 18px;
      color: #ff6700;
      display: none; }
    .backImg .login-page .login-form1 input {
      width: 420px;
      height: 60px;
      border: 1px solid #999999;
      outline: none;
      font-size: 18px;
      margin-top: 17px;
      padding-left: 17px; }
    .backImg .login-page .login-form1 p {
      margin-top: 14px;
      height: 18px;
      line-height: 18px; }
      .backImg .login-page .login-form1 p span {
        float: right;
        color: #999999; }
        .backImg .login-page .login-form1 p span a {
          color: #999999; }
    .backImg .login-page .login-form1 fieldset {
      position: absolute;
      height: 70px;
      width: 100%;
      border: none;
      border-top: 1px solid #999999;
      bottom: 20px; }
      .backImg .login-page .login-form1 fieldset legend {
        font-size: 18px;
        color: #999999; }
      .backImg .login-page .login-form1 fieldset p {
        text-align: center; }
      .backImg .login-page .login-form1 fieldset img {
        float: left;
        margin-left: 60px; }
    .backImg .login-page .login-form2 {
      width: 443px;
      display: none;
      text-align: center; }
      .backImg .login-page .login-form2 img {
        display: inline-block;
        margin-top: 127px; }
      .backImg .login-page .login-form2 p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px; }
        .backImg .login-page .login-form2 p span {
          float: none;
          color: #ef5b00; }

#numberLogin {
  color: #ef5b00; }

#bottom {
  position: static;
  margin-top: -10px; }
  #bottom ul {
    width: 340px; }

#loginSub {
  width: 100%;
  height: 64px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 64px;
  margin-top: 30px;
  display: block;
  background: #ef5b00; }

#toLoginByPhone {
  float: left;
  color: #ef5b00; }

/*# sourceMappingURL=login.css.map */
