@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: '微软雅黑'; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

img {
  border: 0;
  display: block; }

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

/*
@media all and (max-width:320px){
    html{font-size:12px;}
}
@media all and (min-width:321px) and (max-width:375px){
    html{font-size:14px;}
}
@media all and (min-width:376px){
    html{font-size:16px;}
}
*/
/*

html{
    font-size: 31.25vw;
}
*/
#bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: 0; }
  #bottom ul {
    width: 280px;
    height: 18px;
    margin: 0 auto; }
  #bottom li {
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #999999;
    float: left; }
  #bottom .lastLi {
    border-right: none; }
  #bottom a {
    padding: 0 12px;
    color: #999999;
    font-size: 14px; }
  #bottom img {
    display: inline-block; }
  #bottom p {
    font-size: 14px;
    margin-top: 10px;
    color: #999999;
    text-align: center; }

.lastLi-common {
  margin: 0 !important; }

.lastLi-border {
  border-right: none !important; }

.bottom {
  width: 1533px;
  height: 530px;
  margin: 0 auto; }
  .bottom .bottom-top {
    width: 1533px;
    height: 67px;
    padding-top: 33px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 49px; }
    .bottom .bottom-top li {
      float: left;
      text-align: center;
      line-height: 33px;
      height: 33px;
      width: 305px;
      border-right: 1px solid #d7d7d7; }
      .bottom .bottom-top li a {
        color: #666;
        font-size: 20px;
        transition: 0.2s; }
        .bottom .bottom-top li a i {
          font-size: 35px; }
        .bottom .bottom-top li a:hover {
          color: #ff6700; }
  .bottom ul {
    width: 200px;
    height: 180px;
    float: left; }
    .bottom ul p {
      font-size: 18px;
      line-height: 18px;
      color: #333333;
      margin-bottom: 40px; }
    .bottom ul li {
      font-size: 14px;
      color: #999;
      margin-bottom: 20px; }
  .bottom .kefu {
    height: 140px;
    width: 315px;
    float: right;
    border-left: 1px solid #999999; }
    .bottom .kefu h2 {
      color: #ff6700;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 6px;
      text-align: center; }
    .bottom .kefu p {
      text-align: center;
      line-height: 22px;
      font-size: 16px;
      color: #999999; }
    .bottom .kefu a {
      width: 148px;
      height: 36px;
      display: block;
      margin: 22px auto 0;
      text-align: center;
      line-height: 36px;
      border: 1px  solid #ff6700;
      color: #ff6700;
      transition: 0.2s; }
      .bottom .kefu a:hover {
        background: #ff6700;
        color: #ffffff; }
  .bottom .bottom-logo {
    margin-bottom: 45px; }
    .bottom .bottom-logo img {
      height: 70px;
      width: 70px;
      float: left;
      margin-right: 10px; }
    .bottom .bottom-logo div {
      width: 940px;
      height: 70px; }
      .bottom .bottom-logo div b {
        display: block;
        font-size: 14px;
        color: #999999; }
        .bottom .bottom-logo div b a {
          font-size: 14px;
          color: #999999; }
          .bottom .bottom-logo div b a:hover {
            color: #ff6700; }
      .bottom .bottom-logo div p {
        color: #999999;
        font-size: 14px; }
  .bottom .biaoyu {
    text-align: center;
    font-family: "楷体";
    font-size: 28px;
    color: #d7d7d7; }

.wrap {
  transform: scale(0.8);
  margin-top: -50px; }

.top-wrap {
  width: 1414px;
  margin: 0 auto;
  height: 102px;
  line-height: 132px; }
  .top-wrap a {
    width: 250px;
    height: 62px;
    display: block; }

.backImg {
  width: 1414px;
  height: 734px;
  position: relative; }
  .backImg .banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .backImg .login-page {
    width: 439px;
    height: 616px;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 40px;
    padding: 38px 37px 0; }
    .backImg .login-page .login-form-top {
      width: 100%;
      height: 37px;
      margin-bottom: 25px; }
      .backImg .login-page .login-form-top .login-form-top-tag {
        width: 216px;
        height: 37px;
        line-height: 37px;
        float: left;
        text-align: center; }
        .backImg .login-page .login-form-top .login-form-top-tag a {
          font-size: 30px;
          color: #818281;
          font-weight: 500; }
      .backImg .login-page .login-form-top .login-form-top-middle {
        height: 35px;
        width: 1px;
        border: 1px solid #999999;
        float: left; }
    .backImg .login-page .login-form {
      width: 439px;
      height: 549px;
      position: absolute;
      background: #ffffff; }
    .backImg .login-page .login-form1 .tishi {
      height: 23px;
      line-height: 23px;
      width: 100%;
      background: url("../img/reg/tanhao.png") no-repeat left center;
      padding-left: 23px;
      font-size: 18px;
      color: #ff6700;
      display: none; }
    .backImg .login-page .login-form1 input {
      width: 420px;
      height: 60px;
      border: 1px solid #999999;
      outline: none;
      font-size: 18px;
      margin-top: 17px;
      padding-left: 17px; }
    .backImg .login-page .login-form1 p {
      margin-top: 14px;
      height: 18px;
      line-height: 18px; }
      .backImg .login-page .login-form1 p span {
        float: right;
        color: #999999; }
        .backImg .login-page .login-form1 p span a {
          color: #999999; }
    .backImg .login-page .login-form1 fieldset {
      position: absolute;
      height: 70px;
      width: 100%;
      border: none;
      border-top: 1px solid #999999;
      bottom: 20px; }
      .backImg .login-page .login-form1 fieldset legend {
        font-size: 18px;
        color: #999999; }
      .backImg .login-page .login-form1 fieldset p {
        text-align: center; }
      .backImg .login-page .login-form1 fieldset img {
        float: left;
        margin-left: 60px; }
    .backImg .login-page .login-form2 {
      width: 443px;
      display: none;
      text-align: center; }
      .backImg .login-page .login-form2 img {
        display: inline-block;
        margin-top: 127px; }
      .backImg .login-page .login-form2 p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px; }
        .backImg .login-page .login-form2 p span {
          float: none;
          color: #ef5b00; }

#numberLogin {
  color: #ef5b00; }

#bottom {
  position: static;
  margin-top: -10px; }
  #bottom ul {
    width: 340px; }

#loginSub {
  width: 100%;
  height: 64px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 64px;
  margin-top: 30px;
  display: block;
  background: #ef5b00; }

#toLoginByPhone {
  float: left;
  color: #ef5b00; }

/*# sourceMappingURL=login.css.map */
