@mixin goodPriceInfo {
  h3 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 10px;
    color: #333333;
  }
  b {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #999999;
    margin-bottom: 25px;
  }
  p {
    text-align: center;
    color: #f15b00;
    font-size: 18px;
    span {
      color: #999999;
      text-decoration: line-through;
    }
  }
}

.bannerTwoLevelMenu{
  width: 0px;
  height: 575px;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 283px;
  div{
    width: 1300px;
  ul{
    min-width: 313px;
    height: 575px;
    float: left;
    margin-left: -1px;
    background: #ffffff;
    li{
      line-height: 98px;
      padding-left:30px ;
      width: 283px!important;
      height: 98px!important;
        color: #333333;
      transition: 0.3s;
        &:hover{
          color: #ff6700;
        }
    }
  }
  }
}