@charset "utf-8";

@import "common";


body {
  background: #f9f9f9;
}

#reg {
  background: #fff;
  width: 1068px;
  min-height: 686px;
  _height: 686px;
  margin: 0 auto;
  transform: scale(0.8);
  position: relative;
  top: -10px;
  img {
    display: block;
    margin: 0 auto;
  }
}

.cont {
  margin: 59px auto 0;
  width: 415px;
  height: 320px;
  h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 39px;
  }
  p {
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    color: #333333;
  }
  b {
    font-size: 18px;
    color: #333333;
  }
}

.formDiv {
  display: block;
  width: 415px;
  height: 50px;
  border: 1px solid #ded9d9;
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  position: relative;
  span {
    display: block;
    float: left;

  }
}

#btnPlace {
  color: #333333;
}

#place {
  width: 346px;
  height: 38px;
  border: none;
  padding: 12px 0 0 16px;
}

#btnAfterPlace {
  width: 51px;
  height: 50px;
  border-left: 1px solid #ded9d9;
  background: url("../img/reg/quanjiantou_07.jpg") center center no-repeat;
}

#phoneBefore {
  display: inline-block;
  padding: 12px 0 0 10px;
  position: relative;
  width: 80px;
  height: 38px;
  border-right: 1px solid #ded9d9;
  color: #333;
  i {
    position: absolute;
    display: block;
    height: 1px;
    border:{
      top: 6px solid #999;
      left: 6px solid transparent;
      right: 6px solid transparent;
    }
    top: 45%;
    right: 25%;
  }
}

#phone {
  padding-left: 13px;
  width: 311px;
  height: 47px;
  border: none;
  font-size: 18px;
  outline: none;
}

#regSub {
  width: 415px;
  height: 52px;
  background: #ff6700;
  font-size: 18px;
  text-align: center;
  line-height: 52px;
  display: block;
  color: #ffffff;
  margin: 0 auto;
}

.tishi {
  height:23px;
  line-height: 23px;
  width: 390px;
  display: none;
  background: url("../img/reg/tanhao.png") no-repeat left center;
  padding-left: 23px;
  font-size: 18px;
  color: #ff6700;
  margin: 10px auto;
}

#contBottom {
  height: 230px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#xieyiDiv {
  width: 550px;
  display: block;
  margin: 100px auto 0;
  height: 26px;
  line-height: 26px;
  span {
    color: #999999;
    font-size: 18px;
    float: left;
  }
  a {
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }
}

#xieyi {
  width: 20px;
  height: 20px;
  outline: none;
  position: absolute;
  visibility: hidden;

}

#checkbox {
  display: block;
  float: left;
  width: 25px;
  height: 26px;
  border-radius: 11px;
  margin-right: 3px;
  position: relative;
  background: url('../img/reg/duigou.png') no-repeat;

}


.select {
  border: 1px solid #999999;
  width: 413px;
  height: 334px;
  position: absolute;
  z-index: 10;
  overflow: auto;
  top: 50px;
  display: none;
  background: #ffffff;

ul{
  position: absolute;
  z-index: 5;
}

  .mark_select{
    z-index: 6;
    display: none;
    background: #ffffff;
    height: 334px;
    width: 393px;
  }

  input{
    width: 353px;
    height: 41px;
    border: 1px solid #999999;
    outline: none;
    font-size: 18px;
    padding-left: 16px;
  }
  $width : 360px;
  .firstLi{
    width: $width;
    height: 50px;
    padding:16px 16px 0;
    display: block;

  }
  .headLi{
    width: $width;
    height: 38px;
    font-size: 18px;
    padding:0 16px;
    line-height: 38px;
    background: #fcdecc;
    color: #f15b00;
    display: block;
  }
  .contLi{
    width: $width;
    height: 48px;
    padding:0 16px;
    border-bottom: 1px solid #999999;
    font-size: 18px;
    line-height: 48px;

    &:hover{
      background: #d6d6d6;
    }

    span{
      display: block;
      font-size:16px;
      color: #999999;
      float: right;

    }
  }
}

body{overflow: hidden;}


