<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>小米商城</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
<div class="all">
    <div class="wrap-img">
        <div class="topImg">
            <a href="https://www.mi.com/a/h/7170.html?client_id=180100041086&masid=17409.0443"><img
                    src="../img/index/topimg_01.jpg" alt=""></a>
        </div>
    </div>

    <div class="nav">
        <div class="wrap-nav">
            <ul class="nav_left clear_fix">
                <li><a href="#">小米商城</a></li>
                <li><span>|</span></li>
                <li><a href="#">MIUI</a></li>
                <li><span>|</span></li>
                <li><a href="#">loT</a></li>
                <li><span>|</span></li>
                <li><a href="#">云服务</a></li>
                <li><span>|</span></li>
                <li><a href="#">金融</a></li>
                <li><span>|</span></li>
                <li><a href="#">有品</a></li>
                <li><span>|</span></li>
                <li><a href="#">小爱开放平台</a></li>
                <li><span>|</span></li>
                <li><a href="#">政企服务</a></li>
                <li><span>|</span></li>
                <li><a href="#">Select Region</a></li>
            </ul>

            <a href="javascript:;" id="cart">购物车(0)</a>
            <ul class="nav_right clear_fix">
                <li><a href="#">登录</a></li>
                <li><span>|</span></li>
                <li><a href="#">注册</a></li>
                <li><span>|</span></li>
                <li><a href="#">消息通知</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/require.js" data-main="../js/index.js"></script>
</body>
</html>