<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米账号-登录</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css" >
</head>
<body>
<div class="wrap">
    <div class="top-wrap">
            <a href="https://www.mi.com/index.html"><img src="../img/login/logo_03.png" alt=""/></a>
    </div>

    <div class="backImg">
        <a href="https://www.mi.com/mi8/"><div class="banner"><img src="../img/login/banner_06.jpg" alt="" class="banner"></div></a>


            <div class="login-page">
                <div class="login-form-top">
                    <div class="login-form-top-tag"><a href="javascript:;" id="numberLogin">账号登录</a></div>
                    <div class="login-form-top-middle"></div>
                    <div class="login-form-top-tag"><a href="javascript:;" id="saoMaLogin">扫码登录</a></div>
                </div>
            <div class="login-form login-form1">
            <input type="text" placeholder="邮箱/手机号码/小米ID" id="username"/>
            <input type="password" placeholder="密码没有不用输入" >

            <a href="javascript:;" id="loginSub">登录</a>
            <p><a href="javascript:;" id="toLoginByPhone">手机短信登录/注册 </a><span><a href="javascript:;">立即注册</a>&nbsp;|&nbsp;<a href="javascript:;">忘记密码</a></span></p>

            <fieldset>
                <legend align="center">其他方式登录</legend>
                <p><img src="../img/login/smallimg_03.jpg" alt="">
                    <img src="../img/login/smallimg_05.jpg" alt="">
                    <img src="../img/login/smallimg_07.jpg" alt="">
                    <img src="../img/login/smallimg_09.jpg" alt="">
                </p>
            </fieldset>
            </div>


                <div class="login-form login-form2">
            <img src="../img/login/erweima_03.jpg" alt=""/>
            <p>使用 <span>小米商城APP</span>扫一扫 <br>小米手机可打开[设置]>[小米账号]扫码登录</p>
        </div>
        </div>


    </div>
</div>

    <div id="bottom">
        <ul>
            <li><a href="javascript:;">简体</a></li>
            <li><a href="javascript:;">繁体</a></li>
            <li><a href="javascript:;">English</a></li>
            <li><a href="javascript:;">常见问题</a></li>
            <li class="lastLi"><a href="javascript:;">隐私政策</a></li>

        </ul>

        <p><span>小米公司版权所有-京ICP备10046444-</span> <img src="../img/reg/ghs.png"
                                                     alt=""><span>京公网安备11010802020134号-京ICP证110507号</span></p>
    </div>

<script src="../js/require.js" data-main="../js/login.js"></script>
</body>
</html>